@CHARSET "UTF-8";
body { padding-top: 70px; }
.checkbox{
	display: inline-block;
}
.clearfix:after {
 content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;
}
.ul{
	list-style: none;
}
.contain{
	object-fit: contain;
  	width: 130px;
  	height: 130px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}