<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="UTF-8" />
	<title>forgotPass</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<h2>Input Email and select images.</h2>
	<div th:if="${accountNotFoundError}" th:text="${errorMessage}" class="alert alert-danger">
		
	</div>
	<div th:if="${checkboxError}" th:text="${checkboxErrorMessage}" class="alert alert-danger"></div>
	
	<p>登録中のメールアドレスを入力し、アカウント登録時に選択した画像3枚を選んでください</p>
	<div class="center-block">
	<div>
	<form th:action="@{/forgot}" th:object="${forgotPassForm}" method="POST">
		<table>
			<tr>
				<td><label for="email">Email:</label></td>
				<td><input type="email" th:field="*{mailAddress}" id="mailAddress" name="mailAddress" /></td>
			</tr>
			<tr>
				<td><label for="confirmMail">EMail(確認用):</label></td>
				<td><input type="email" th:field="*{confirmMail}" id="confirmMail" name="confirmMail" /></td>
			</tr>
		</table>
		<div class="form-group">
            <div class="checkbox" th:each="item : ${checkItems}">
            	<ul class="ul">
                	<li><input type="checkbox" name="imgs" th:value="${item.value}"></input></li>
                	<li><img class="contain" th:src="@{${item.key}}" /></li>
                </ul>
            </div>
		</div>
		<button class="btn btn-1g btn-primary" type="submit">送信</button>
	</form>
	</div>
	</div>
</body>
</html>