<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> get value</title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Get Form</h1>
        </div>

        <table class="table table-striped table-bordered" th:object="${valueForm}">
            <tr>
                <th class="col-md-3"> Webpage Name </th>
                <td class="col-md-9" th:text="*{Name}"></td>
            </tr>
        </table>
    </div>
</body>
</html>