<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> WebInfo List</title>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="/js/table.js" th:src="@{/js/table.js}"></script>
    <link href="/honoka/css/bootstrap.css" th:src="@{/honoka/css/bootstrap.css}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1> WebPage Infomation </h1>
            <p th:if="${deletemessage}" th:text="${deletemessage}">delete message</p>
        </div>

        <div class="row">
            <table id="table" class="table">
                <tr th:each="webinfo : ${list}">
                    <td th:text="${webinfo.number}"></td>
                    <td th:text="${webinfo.mailaddress}"></td>
                    <td th:text="${webinfo.name}"></td>
                    <td th:text="${webinfo.url}"></td>
                    <td th:text="${webinfo.userID}"></td>
                    <td th:text="${webinfo.password}"></td>
                    <td>
                        変更
                    </td>
                    <td>
                        <a class="btn btn-warning" href="/webinfo/delete/${webinfo.number}" th:href="@{/webinfo/delete/{number}(number=${webinfo.number})}"> 削除 </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>