<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="UTF-8" />
	<title>forgotPass</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<header th:include="_tempNotLogin :: header"></header>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h3 class="alert alert-danger" th:text="${errorMessage}"></h3>
			</div>
			<a class="col-md-2 col-md-offset-8" th:href="@{/page/index}">Topへ</a>
		</div>
	</div>
</body>
</html>