<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="UTF-8" />
	<title>forgotPass</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<h2>Select images.</h2>
<div th:if="${error}" th:text="${errorMessage}" class="alert alert-danger"></div>

<p>パスワード再設定用の画像を選択してください</p>
<form th:action="@{/resetPass/reset}" th:object="${imageCheckForm}" method="POST">
	<ul th:each="item : ${checkItems}" class="ul">
		<li>
			<div class="checkbox">
				<input type="checkbox" name="imgPath" th:field="*{imgValue}" th:value="${item.key}" />
				<label th:for="${#ids.prev('imgValue')}"><img class="contain" th:src="@{${item.key}}" /></label>
			</div>
		</li>
	</ul>
	<input type="hidden" name="token" th:value="*{token}" />
	<button class="btn btn-1g btn-primary" type="submit">送信</button>
</form>
</body>
</html>